$white: white;
$green: green;
$red: red;

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

*{
  box-sizing: border-box;
}

.form {
  &--signup{
    width: 495px;
  }
}

.input {
  width: 100%;
  height: 40px;
  border-radius: 3px;
  border: 1px solid #d2d2d2;
  padding: 0 20px;
  outline: none;
  &:focus {
    border: 1px solid blue;
  }
  &.ng-touched.ng-invalid {
    border-color: $red;
  }
}

.button {
  width: 100%;
  height: 40px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  outline: none;
  &:disabled{
    opacity: .4;
    cursor: not-allowed;
  }
  &--submit {
    color: $white;
    background: $green;
  }
  &--personal{
    width: 33.33333%;
    float: right;
  }
}