<div class="signup">
    <form class="form" name="signupForm" ng-submit="signup.send(signup.user)">
        <input
                class="input"
                type="email"
                name="login"
                placeholder="login"
                ng-model="signup.user.login"
                required
        >
        <input
                class="input"
                type="password"
                name="pass"
                placeholder="password"
                ng-model="signup.user.password"
                required
        >
        <button
                class="button button--submit"
                type="submit"
                ng-disabled="signupForm.$invalid"
        >SIGN UP
        </button>
    </form>
</div>